.gl-search-box-by-type-search-icon {
  margin: 0.5rem;
  color: #666;
  width: 1rem;
  position: absolute;
}

.gl-search-box-by-type-input,
.gl-search-box-by-type-input.gl-form-input {
  height: 2rem;
  padding-right: 2rem;
  padding-left: 1.75rem;
}
