

  <div>
    <nav aria-label="Breadcrumbs" class="breadcrumbs container-fluid container-limited">
      <div class="breadcrumbs-container">
        <div class="breadcrumbs-links" data-qa-selector="breadcrumb_links_content" data-testid="breadcrumb-links">
          <ul class="list-unstyled breadcrumbs-list js-breadcrumbs-list">
            <li>
              <a [routerLink]="'/-/profile/account'">Quế Dương</a>
              <svg-icon [name]="'angle-right'" [size]="8" class="breadcrumbs-list-angle"></svg-icon>
            </li>
            <li>
              <h2 class="breadcrumbs-sub-title">
                <a [routerLink]="'/-/profile/password'">Danh sách khách hàng</a>
              </h2>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
  <div class="container-fluid container-limited">
    <main class="content" id="content-body">
      <div class="flash-container flash-container-page" *ngIf="this.globalError">
        <div class="flash-alert mb-2">
          <svg-icon [name]="'error'" [size]="16" [className]="'mr-1 align-middle d-inline'"></svg-icon>
          <span class="align-text-top">{{ this.globalError }}</span>
          <div class="close-icon-wrapper js-close-icon">
            <svg-icon [name]="'close'" [size]="16" class="align-baseline"></svg-icon>
          </div>
        </div>
      </div>
      <div *ngIf="data">

        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Id</th>
              <th scope="col">Mã khách hàng</th>
              <th scope="col">Tên khách hàng</th>
              <th scope="col">Thao tác</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of data | keyvalue">
              <th scope="row">{{ incrementAndParse(item.key) }}</th>
              <td>{{ item.value.id}}  </td>
              <td>{{ item.value.customerCode}}</td>
              <td>{{ item.value.customerName}}</td>
              <td>
                <button class="btn btn-primary mr-3" type="button">Sửa </button> 
                <button class="btn btn-danger" (click)="deleteCustomer(item.value.id)" type="button">Xóa </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </main>
  </div>