<div class="layout_page px-0 h-100">
	<div class="layout-page h-100">
		<div class="container-fluid d-flex flex-column h-100 pb-5">
			<tui-scrollbar>
				<main class="content md:px-6">
					<h4 class="mt-4 pb-3 px-2 border-b">Xin chào {{ currentUser.fullName }}</h4>
					<!-- <nz-alert nzMessage="Bạn vừa sửa thông tin. Thay đổi sẽ bị mất nếu không lưu lại." nzType="info"
							nzShowIcon class="mb-2"></nz-alert> -->
					<p class="text-bold text-Medium text-uppercase text-danger p-2">Chức năng đang trong quá trình phát triển</p>
					<div class="grid grid-cols-12 gap-6">
						<div class="xs:col-span-12 col-span-10 2xl:col-span-10 mt-4">
							<div class="col-span-12 grid grid-cols-12 gap-6 mb-4">
								<div class="col-span-12 sm:col-span-9 2xl:col-span-9">
									<div class="card">
										<div class="card-header">
											<h3 class="card-title">VN-Logistic Report</h3>
											<div class="card-tools">
												<button type="button" class="btn btn-tool" data-card-widget="collapse">
													<i class="fas fa-minus"></i>
												</button>
												<button type="button" class="btn btn-tool" data-card-widget="remove">
													<i class="fas fa-times"></i>
												</button>
											</div>
										</div>
								
										<div class="card-body p-0">
											<div id="map"></div>
										</div>
								
									</div>
								</div>
								
								<div class="col-span-12 sm:col-span-3 2xl:col-span-3">
								
									<div class="info-box mb-3 bg-default">
										<span class="info-box-icon"><i class="fas fa-tag"></i></span>
										<div class="info-box-content">
											<span class="info-box-text">Kho hàng hiện tại</span>
											<span class="info-box-number">5,200 tấn hàng</span>
										</div>
								
									</div>
								
									<div class="info-box mb-3 bg-default">
										<span class="info-box-icon"><i class="far fa-heart"></i></span>
										<div class="info-box-content">
											<span class="info-box-text">Chuyến hàng đã thực hiện</span>
											<span class="info-box-number">92,050</span>
										</div>
								
									</div>
								
									<div class="info-box mb-3 bg-default">
										<span class="info-box-icon"><i class="fas fa-user"></i></span>
										<div class="info-box-content">
											<span class="info-box-text">Khách hàng</span>
											<span class="info-box-number">1,381</span>
										</div>
								
									</div>
								
									<div class="info-box mb-3 bg-default">
										<span class="info-box-icon"><i class="far fa-comment"></i></span>
										<div class="info-box-content">
											<span class="info-box-text">Đơn đặt lại</span>
											<span class="info-box-number">63,921</span>
										</div>
								
									</div>
								
									<div class="info-box mb-3 bg-default">
										<span class="info-box-icon"><i class="fas fa-money-bill"></i></span>
										<div class="info-box-content">
											<span class="info-box-text">Tổng doanh thu</span>
											<span class="info-box-number">10,521,163,586</span>
										</div>
								
									</div>
								</div>
							</div>
						</div>
						<div class="col-span-2 border-l">
							<div class="-mb-10 pb-10">
								<div class="2xl:pl-6 m-b-sm">
									<app-audit-home></app-audit-home>
								</div>
								<div class="2xl:pl-6 m-b-sm mt-4">
									<div class="p-3 mt-12 intro-y box sm:mt-5">
										<app-visitor-counter></app-visitor-counter>
									</div>
								</div>
							</div>
						</div>

					</div>
				</main>
			</tui-scrollbar>
		</div>
		<footer class="d-flex w-100">
			<div class="ads d-flex flex-row">
				<div>Phiên bản 1.1.1</div>
			</div>
			<div class="wrapper d-flex flex-row">
				<div class=" footer-hotline">
					<a href="#" target="_blank">Hotline: 0986685648</a>
				</div>
				<div class="">
					<a href="#" target="_blank">
						Hướng dẫn sử dụng </a>
				</div>
				<div class="">
					<a href="#" target="_blank">
						Công cụ hỗ trợ từ xa </a>
				</div>
			</div>
		</footer>
	</div>
</div>