<div class="information_panel">
    <h4>Thông tin vận chuyển</h4>
    <app-transaction-vehicle-select></app-transaction-vehicle-select>
    <p><b>Điểm nhận hàng </b> : <span class="information_location_name"> Bắc Ninh</span></p>
    <p><b>Ngày nhận hàng </b> : <span class="information_location_date"> 13/12/2023</span></p>
    <p><b>Người nhận hàng </b> : <span class="information_location_person"> Nguyễn Văn A</span></p>
    <p><b>Điểm giao hàng </b> : <span class="information_location_receiver_name"> Hà Nội</span></p>
    <p><b>Ngày giao hàng </b> : <span class="information_location_receiver_date"> 14/12/2023</span></p>
</div>