<nz-select nzAllowClear nzShowSearch class="w-full" [formControl]="control" (ngModelChange)="onChange($event)"
	[compareWith]="compareFn" [nzCustomTemplate]="selectedTemplate">
	<nz-option *ngFor="let location of locationService.list" [nzValue]="location" [nzLabel]="location.locationName">
		<!-- <span class="ml-3 font-semibold uppercase text-textMedium text-13">{{ location.locationName }}</span> -->
		{{ location.locationName }}
	</nz-option>
</nz-select>
<ng-template #selectedTemplate let-selected>
	<!-- {{ selected.nzValue.locationName }} -->
	<span class="font-semibold uppercase text-textMedium text-13">{{ control.value.locationName ?? selected.nzValue
		}}</span>
</ng-template>