<h2 class="flex pb-2 mb-3 border-b border-dashed border-slate-200 text-slate-500 dark:border-darkmode-300 text-md">
	Truy cập
</h2>
<div class="flex items-center mb-2">
	<div class="flex items-center">
		<div>Site Visits</div>
		<span class="cursor-pointer flex ml-2 text-xs font-medium text-danger">-2%
			<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
				stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
				icon-name="chevron-down" data-lucide="chevron-down"
				class="lucide lucide-chevron-down stroke-1.5 ml-0.5 h-4 w-4">
				<polyline points="6 9 12 15 18 9"></polyline>
			</svg>
		</span>
	</div>
	<div class="ml-auto">{{visitCount}}</div>
</div>
<div class="flex items-center mb-2">
	<div class="flex items-center">
		<div>Unique Visitors</div>
	</div>
	<div class="ml-auto">21</div>
</div>
<div class="flex items-center mb-2">
	<div class="flex items-center">
		<div>Page Views</div>
		<span class="cursor-pointer flex ml-2 text-xs font-medium text-success ">5%
			<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
				stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
				icon-name="chevron-up" data-lucide="chevron-up"
				class="lucide lucide-chevron-up stroke-1.5 ml-0.5 h-4 w-4">
				<polyline points="18 15 12 9 6 15"></polyline>
			</svg>
		</span>
	</div>
	<div class="ml-auto">{{pageviewsCount}}</div>
</div>
<div class="flex items-center mb-2">
	<div class="flex items-center">
		<div>Bounce Rate</div>
	</div>
	<div class="ml-auto">3.420</div>
</div>
<div class="flex items-center mb-2">
	<div class="flex items-center">
		<div>% New Visits</div>
		<span
			class="cursor-pointer flex ml-2 text-xs font-medium cursor-pointer text-danger flex ml-2 text-xs font-medium cursor-pointer text-danger">-9%
			<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
				stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
				icon-name="chevron-down" data-lucide="chevron-down"
				class="lucide lucide-chevron-down stroke-1.5 ml-0.5 h-4 w-4">
				<polyline points="6 9 12 15 18 9"></polyline>
			</svg>
		</span>
	</div>
	<div class="ml-auto">32%</div>
</div>
<div class="flex items-center mb-2">
	<div class="flex items-center">
		<div>Average Tim On Site</div>
	</div>
	<div class="ml-auto">1.5M</div>
</div>

<!-- <button type="button" class="btn btn-success" (click)="updateCounter()">Count</button> -->