@import "~ng-zorro-antd/ng-zorro-antd.min.css";
#content-body{
    background: #E3FFEC;
    padding: 30px;
    font-size: 16px;
}

p {
    margin: 0;
}

::ng-deep .information_panel{
    background-color: #f5fbff;
    border: 1px solid #BDE3FF;
    padding: 20px;
}

::ng-deep .ant-table-thead > tr > th, .ant-table-tfoot > tr > th {
    background-color: #BDE3FF !important;
    font-weight: bolder;
    text-align: center;
}

::ng-deep .table_price{
    background-color: white;
}

::ng-deep.table_price thead > tr > th, .table_price tfoot > tr > th{
    background-color: #BDE3FF !important;
    font-weight: bolder;
    text-align: center;
    padding : 10px;
}

.note_input{
    width: 100%;
}