<div class="header-transaction">
	<nav aria-label="Breadcrumbs" class="breadcrumbs container-fluid">
		<div class="breadcrumbs-container">
			<div class="mr-2 ">
				<p class="align-baseline"><b>LỆNH ĐIỀU VẬN</b></p>
			</div>

			<div class="mr-2 ">
				<a>
					<svg-icon [name]="'truck-fast'" [width]="20" [height]="16" class="align-baseline"></svg-icon>
				</a>
			</div>
			<div class="customer_code_generate align-baseline mr-2">{{ transaction.transactionNo }}</div>
			<div style="width: 300px;">
				<nz-date-picker class="form-input custom-date-picker" [(ngModel)]="transaction.transactionDate" id="transactionDate"
					[nzFormat]="'dd/MM/yyyy'"></nz-date-picker>
			</div>
			<div class="flex-item-last">
				<button type="submit" class="btn btn-success"
					[disabled]="!transaction.driverId || !transaction.customerId || !transaction.vehicleId || !transaction.vendorId"
					form="editForm">Lưu</button>
			</div>
		</div>
	</nav>
</div>
<div class="container-fluid">
	<main class="content main-add-transaction" id="content-body">
		<div class="flash-container flash-container-page" *ngIf="this.globalError">
			<div class="flash-alert mb-2">
				<svg-icon [name]="'error'" [size]="16" [className]="'mr-1 align-middle d-inline'"></svg-icon>
				<span class="align-text-top">{{ this.globalError }}</span>
				<div class="close-icon-wrapper js-close-icon">
					<svg-icon [name]="'close'" [size]="16" class="align-baseline"></svg-icon>
				</div>
			</div>
		</div>
		<form #editForm="ngForm" id="editForm" (ngSubmit)="onSubmit()" ngNativeValidate autocomplete="off">

			<div class="row mt-2">
				<div class="col-lg-4">
					<app-transaction-driver-select [(model)]="transaction.driver"
						(change)="onDriverChange($event)"></app-transaction-driver-select>

					<app-transaction-vehicle-select [(model)]="transaction.vehicle"
						(change)="onVehicleChange($event)"></app-transaction-vehicle-select>

					<table class="table table_price table-bordered">
						<thead>
							<tr>
								<th class="whitespace-nowrap" colspan="2">Thông tin vận chuyển</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td width="30%"><b>Điểm nhận hàng </b></td>
								<td>
									<div class="d-flex w-full" style="flex-wrap: wrap;">
										<nz-select nzShowSearch nzAllowClear class="flex-1 h-8 nz-select-main" [(ngModel)]="origin" [compareWith]="compareLocation" 
										(ngModelChange)="onOriginChange($event)"
										#control="ngModel" [required]="true" [class.is-invalid]='control.errors && control.touched'	[ngModelOptions]="{standalone: true}"
										[nzCustomTemplate]="selectedTemplate">
											<nz-option *ngFor="let location of list$ | async" [nzValue]="location" [nzLabel]="location.locationName">
											</nz-option>
										</nz-select>
										<wk-button [className]="'btn btn-primary flex-1'" icon="plus" [iconSize]="18"
											(click)="openEditLocationModal()"></wk-button>
										<ng-template #selectedTemplate let-selected>
											{{ selected.nzLabel }}
										</ng-template>
										<div class="invalid-feedback" style="flex-basis: 100%" *ngIf='control.errors?.required'>
											Vui lòng chọn Điểm nhận hàng</div>
									</div>
								</td>
							</tr>
							<tr>
								<td width="30%"><b>Điểm giao hàng </b></td>
								<td>
									<div class="d-flex w-full" style="flex-wrap: wrap;">
										<nz-select nzShowSearch nzAllowClear class="flex-1 h-8 nz-select-main" [(ngModel)]="destination" [compareWith]="compareLocation" 
										(ngModelChange)="onDestinationChange($event)"
										#control1="ngModel" [required]="true" [class.is-invalid]='control1.errors && control1.touched'	[ngModelOptions]="{standalone: true}"
										[nzCustomTemplate]="selectedTemplate">
											<nz-option *ngFor="let location of list$ | async" [nzValue]="location" [nzLabel]="location.locationName">
											</nz-option>
										</nz-select>
										<wk-button [className]="'btn btn-primary flex-1'" icon="plus" [iconSize]="18"
											(click)="openEditLocationModal()"></wk-button>
										<ng-template #selectedTemplate let-selected>
											{{ selected.nzLabel }}
										</ng-template>
										<div class="invalid-feedback" style="flex-basis: 100%" *ngIf='control1.errors?.required'>
											Vui lòng chọn Điểm giao hàng</div>
									</div>
								</td>
							</tr>
						</tbody>
					</table>


				</div>

				<div class="col-lg-8">
					<div class="row">
						<div class="col-lg-6">
							<app-transaction-customer-select [(customer)]="transaction.customer"
								[(transactionCode)]="transaction.transactionNo"
								(change)="onCustomerChange($event)"></app-transaction-customer-select>
						</div>
						<div class="col-lg-6">
							<app-transaction-vendor-select [(model)]="transaction.vendor"
								(change)="onVendorChange($event)"></app-transaction-vendor-select>
						</div>

						<div class="col-lg-6">
							<table class="table table_price table-bordered">
								<thead>
									<tr>
										<th class="whitespace-nowrap">Chi phí phát sinh</th>
										<th class="whitespace-nowrap">Giá</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>Phí lưu ca</td>
										<td>
											<div class="input-group">
												<span class="prefix">(đồng)</span>
												<input type="text" class="form-input custom-fee" [(ngModel)]="demurrageFeeText"
													[ngModelOptions]="{standalone: true}"
													(blur)="formatCurrencyValue($event, 'demurrageFee', 'demurrageFeeText')">
											</div>
										</td>
									</tr>
									<tr>
										<td>Phí ghép điểm</td>
										<td>
											<div class="input-group">
												<span class="prefix">(đồng)</span>
												<input type="text" class="form-input custom-fee" [(ngModel)]="transshipmentFeeText"
													[ngModelOptions]="{standalone: true}"
													(blur)="formatCurrencyValue($event, 'transshipmentFee', 'transshipmentFeeText')">
											</div>
										</td>
									</tr>
									<tr>
										<td>Phí hàng về</td>
										<td>
											<div class="input-group">
												<span class="prefix">(đồng)</span>
												<input type="text" class="form-input custom-fee" [(ngModel)]="returnShippingFeeText"
													[ngModelOptions]="{standalone: true}"
													(blur)="formatCurrencyValue($event, 'returnShippingFee', 'returnShippingFeeText')">
											</div>
										</td>
									</tr>
									<tr>
										<td>Phí hải quan</td>
										<td>
											<div class="input-group">
												<span class="prefix">(đồng)</span>
												<input type="text" class="form-input custom-fee" [(ngModel)]="customsFeeText"
													[ngModelOptions]="{standalone: true}"
													(blur)="formatCurrencyValue($event, 'customsFee', 'customsFeeText')">
											</div>
										</td>
									</tr>
									<tr>
										<td>Phí bốc xếp</td>
										<td>
											<div class="input-group">
												<span class="prefix">(đồng)</span>
												<input type="text" class="form-input custom-fee" [(ngModel)]="handlingFeeText"
													[ngModelOptions]="{standalone: true}"
													(blur)="formatCurrencyValue($event, 'handlingFee', 'handlingFeeText')">
											</div>
										</td>
									</tr>
									<tr>
										<td>Vé</td>
										<td>
											<div class="input-group">
												<span class="prefix">(đồng)</span>
												<input type="text" class="form-input custom-fee" [(ngModel)]="ticketFeeText"
													[ngModelOptions]="{standalone: true}"
													(blur)="formatCurrencyValue($event, 'ticketFee', 'ticketFeeText')">
											</div>
										</td>
									</tr>
									<tr>
										<td>Phát sinh khác</td>
										<td>
											<div class="input-group">
												<span class="prefix">(đồng)</span>
												<input type="text" class="form-input custom-fee" [(ngModel)]="otherFeeText"
													[ngModelOptions]="{standalone: true}"
													(blur)="formatCurrencyValue($event, 'otherFee', 'otherFeeText')">
											</div>
										</td>
									</tr>
								</tbody>
								<tfoot>
									<tr role="row">
										<th class="whitespace-nowrap">Tổng</th>
										<th class="whitespace-nowrap text-right">{{ total_fee }}</th>
									</tr>
								</tfoot>
							</table>
						</div>

						<div class="col-lg-6">
							<table class="table table_price table-bordered">
								<thead>
									<tr>
										<th class="whitespace-nowrap" colspan="2">Biên bản giao hàng</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>Lái xe nộp đủ về VP</td>
										<td>
											<input type="text" class="form-input" name="docManager" [(ngModel)]="transaction.docManager">
										</td>
									</tr>
									<tr>
										<td>Trả người quản lý giấy tờ</td>
										<td>
											<span *ngFor="let option of optionRadioBox">
												<input type="radio" name="isSummitedDoc" [(ngModel)]="transaction.isSummitedDoc"
													[value]="option.value">
												{{ option.label }}
												&nbsp;&nbsp;&nbsp;
											</span>
										</td>
									</tr>
									<tr>
										<td>Trả khách hàng</td>
										<td>
											<span *ngFor="let option of optionRadioBox">
												<input type="radio" name="isCustomerReturn" [(ngModel)]="transaction.isCustomerReturn"
													[value]="option.value">
												{{ option.label }}
												&nbsp;&nbsp;&nbsp;
											</span>
										</td>
									</tr>
								</tbody>
							</table>

						</div>
						<div class="col-lg-12">
							<table class="table table_price table-bordered">
								<thead>
									<tr>
										<th class="whitespace-nowrap">Ghi chú</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td><textarea rows="2" class="form-input input-multiple" name="notes"
												[(ngModel)]="transaction.notes"></textarea></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>



			<div class="row mt-2">
				<nz-table #table [classList]="'border-spacing-y-[10px]'" nzSize="small"
					[nzData]="transaction.transactionDetails" nzTableResponsive>
					<thead>
						<tr role="row">
							<th class="whitespace-nowrap" nzColumnKey="contType" [nzSortFn]="true" style="width: 3%;">Loại cont</th>
							<th class="whitespace-nowrap" nzColumnKey="contCount" [nzSortFn]="true" style="width: 1%;">Số cont</th>
							<th class="whitespace-nowrap" nzColumnKey="packageCount" [nzSortFn]="true" style="width: 1%;">Số kiện</th>
							<th class="whitespace-nowrap" nzColumnKey="packageUnit" [nzSortFn]="true" style="width: 5%;">ĐVT Kiện</th>
							<th class="whitespace-nowrap" nzColumnKey="quantity" [nzSortFn]="true" style="width: 1%;">Số lượng</th>
							<th class="whitespace-nowrap" nzColumnKey="unit" [nzSortFn]="true" style="width: 5%;">ĐVT</th>
							<th class="whitespace-nowrap" nzColumnKey="goodsDescription" [nzSortFn]="true" style="width: 20%;">Mô tả
								hàng hóa</th>
							<th class="whitespace-nowrap" nzColumnKey="deliveredPlace" [nzSortFn]="true" style="width: 8%;">Nơi giao
							</th>
							<th class="whitespace-nowrap" nzColumnKey="deliveredTime" [nzSortFn]="true" style="width: 8%;">Thời gian
								giao</th>
							<th class="whitespace-nowrap" style="width: 1%;"><button type="button" class="btn btn-success"
									(click)="openEditModal()">Thêm mới</button></th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let row of transaction.transactionDetails; trackBy: trackByFunction">
							<td>{{ row.contType }} </td>
							<td>{{ row.contCount }} </td>
							<td>{{ row.packageCount }} </td>
							<td>{{ row.packageUnit }} </td>
							<td>{{ row.quantity }} </td>
							<td>{{ row.unit }} </td>
							<td>{{ row.goodsDescription }} </td>
							<td>{{ row.deliveredPlace }} </td>
							<td>{{ parseHumanDate(row.deliveredTime) }} </td>
							<td>
								<button type="button" class="btn-link" (click)="openEditModal(row)">
									<svg-icon [name]="'pencil'" [size]="14"></svg-icon>
								</button>
								<span class="px-2">&nbsp;</span>
								<button type="button" class="btn-link text-danger" (click)="confirmDelete(row)">
									<svg-icon [name]="'remove'" [size]="14"></svg-icon>
								</button>
							</td>
						</tr>
					</tbody>
				</nz-table>
			</div>
		</form>
	</main>
</div>