<tui-scrollbar>
	<div class="container-fluid">
		<main class="content">
			<div class="row mt-2">
				<div class="col-lg-12">
					<h4 class="mt-2 px-2 text-uppercase">Tra cứu Lệnh điều vận</h4>
					<div>
						<div class="d-md-flex flex-column order border-start-0 border-end-0 mb-1"
							style="background-color: #f6f6f6;">
							<div class="d-flex flex-row">
								<div class="search-box-by-click d-md-flex p-2 flex-grow-1">
									<nz-input-group [nzSuffix]="suffixIconSearch">
										<input type="text" nz-input [(ngModel)]="term" (keyup.enter)="refreshList()"
											placeholder="Tìm kiếm" />
									</nz-input-group>
									<ng-template #suffixIconSearch>
										<span nz-icon nzType="search"></span>
									</ng-template>
									<nz-space class="ml-2">
										<nz-date-picker *nzSpaceItem nzFormat="dd/MM/yyyy" nzPlaceHolder="Từ ngày" [(ngModel)]="startDate"
											style="width: 180px;"></nz-date-picker>
										<nz-date-picker *nzSpaceItem nzFormat="dd/MM/yyyy" nzPlaceHolder="Đến ngày" [(ngModel)]="endDate"
											style="width: 180px;"></nz-date-picker>
									</nz-space>
								</div>
								<div class="p-2 d-md-flex">
									<wk-button icon="search_" [iconSize]="13" (click)="refreshList()" [className]="'btn-primary flex'">Tìm
										kiếm</wk-button>
								</div>
								<div class="p-2 d-md-flex">
									<wk-button icon="plus" [iconSize]="13" [className]="'btn-success flex'"
										[routerLink]="['/logistic/transaction/new']">Thêm</wk-button>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12">
								<nz-table #basicTable [nzData]="list" nzSize="small" [nzFrontPagination]="false" [nzTotal]="total"
									[nzPageSize]="pageSize" [nzPageIndex]="pageIndex" (nzQueryParams)="onQueryParamsChange($event)">
									<thead>
										<tr role="row">
											<th style="width: 9%;" nzColumnKey="" [nzSortFn]="true">Mã điều vận</th>
											<th nzColumnKey="" [nzSortFn]="true">Khách hàng</th>
											<th nzColumnKey="" [nzSortFn]="true" style="width: 22%;">Tuyến đường</th>
											<th nzColumnKey="" [nzSortFn]="true" style="width: 14%;">Phương tiện</th>
											<th nzColumnKey="" style="width: 18%;">Lái xe</th>
											<th nzColumnKey="" style="width: 15%;">Vận chuyển</th>
											<th class="whitespace-nowrap" style="width: 8%;">Thao tác</th>
										</tr>
									</thead>
									<tbody>
										<tr *ngFor="let item of basicTable.data">
											<td>{{ item.transactionNo }}</td>
											<td>{{ item.customerName }} </td>
											<td>{{ item.shippingRouteName }}</td>
											<td>{{ item.vehicle?.vehicleNumber }}</td>
											<td>
												<span class="text-bold">{{item.driver?.fullName}}</span> <br />
												<span style="font-size: 0.777rem;">{{item.driver?.phoneNo}}</span> <br />
												<span style="font-size: 0.777rem;">{{item.driver?.homeTown}}</span>
											</td>
											<td>{{item.vendorName}}</td>
											<td class="whitespace-nowrap">
												<wk-button icon="pencil" [iconSize]="13" [className]="'btn-default mr-2'"
													[routerLink]="['/logistic/transaction/edit/' + item.id]">Sửa</wk-button>
												<wk-button icon="remove" [iconSize]="13" [className]="'btn-danger'"
													(click)="confirmDelete(item)">Xóa</wk-button>
											</td>
										</tr>
									</tbody>
								</nz-table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>
	</div>
</tui-scrollbar>