<tui-scrollbar>
	<div class="container-fluid">
		<main class="content">
			<div class="row mt-2">
				<div class="col-lg-12">
					<div class="flex">
						<h4 class="mt-2 px-2 text-uppercase">Tra cứu Lệnh điều vận</h4>
					</div>
				</div>
				<div>
					<div class="d-md-flex flex-column order border-start-0 border-end-0 mb-1">
						<div class="d-flex flex-row p-2" style="background-color: #f6f6f6;">
							<wk-button icon="plus" [iconSize]="13" [className]="'btn-success flex mr-2'"
								[routerLink]="['/logistic/transaction/new']">Tạo lệnh điều vận</wk-button>
							<wk-button icon="export" [iconSize]="13" [className]="'btn-default flex mr-2'"
								[title]="'Xuất dữ liệu ra file excel'" (click)="exportToExcel()">Xuất Excel</wk-button>
							<div class="search-box-by-click d-md-flex flex-grow-1 mr-2">
								<nz-input-group [nzSuffix]="suffixIconSearch">
									<input type="text" nz-input [(ngModel)]="term" (keyup.enter)="refreshList()" class="form-input"
										placeholder="Mã điều vận, Tên lái xe, Tuyến đường, Biển số xe" />
								</nz-input-group>
								<ng-template #suffixIconSearch>
									<span nz-icon nzType="search"></span>
								</ng-template>
							</div>
							<div class=" pr-0 d-md-flex">
								<wk-button icon="search_" [iconSize]="13" (click)="refreshList()"
									[className]="'btn-primary flex mr-2'">Tìm
									kiếm</wk-button>
								<wk-button icon="cancel" [iconSize]="13" (click)="resetFilter()" [className]="'btn-default flex'">Khôi
									phục</wk-button>
							</div>
						</div>
						<hr class="m-0" style="border-top: 2px solid #fff;" />
						<div class="flex flex-row p-2 pt-0" style="background-color: #f6f6f6;">
							<div class="mr-2" style="width: 15%;">
								Khách hàng
								<nz-select nzShowSearch nzAllowClear class="mr-2 w-full form-input" [(ngModel)]="customerFilter"
									(ngModelChange)="refreshList()" nzPlaceHolder="Tất cả">
									<nz-option *ngFor="let customer of customerList$ | async" [nzLabel]="customer.customerName"
										[nzValue]="customer.id"></nz-option>
								</nz-select>
							</div>
							<div class="mr-2" style="width: 15%;">
								Đơn vị vận tải
								<nz-select nzShowSearch nzAllowClear class="mr-2 w-full form-input" [(ngModel)]="vendorFilter"
									(ngModelChange)="refreshList()" nzPlaceHolder="Tất cả">
									<nz-option *ngFor="let vendor of vendroList$ | async" [nzLabel]="vendor.vendorName"
										[nzValue]="vendor.id"></nz-option>
								</nz-select>
							</div>
							<div class="mr-2" style="width: 25%;">
								Ngày vận tải
								<nz-input-group nzCompact class="w-full">
									<nz-date-picker nz-input nzFormat="dd/MM/yyyy" nzPlaceHolder="Từ ngày" style="width: 45%;"
										[nzDisabledDate]="disabledStartDate" [(ngModel)]="transDateFrom"></nz-date-picker>
									<input type="text" disabled nz-input placeholder="-"
										style="width: 10%; border-left: 0px; border-right: 0px; pointer-events: none; background-color: rgb(255, 255, 255); border-color: #868686;" />
									<nz-date-picker nz-input nzFormat="dd/MM/yyyy" nzPlaceHolder="Đến ngày" class="border-l-0"
										style="width: 45%;" [nzDisabledDate]="disabledEndDate" [(ngModel)]="transDateTo"></nz-date-picker>
								</nz-input-group>
							</div>
						</div>
						<hr class="m-0" style="border-top: 2px solid #fff;" />
						<div class="row">
							<div class="col-sm-12">
								<nz-table #basicTable [nzData]="list" nzSize="small" [nzFrontPagination]="false" [nzTotal]="total"
									[nzPageSize]="pageSize" [nzPageIndex]="pageIndex" (nzQueryParams)="onQueryParamsChange($event)">
									<thead>
										<tr role="row">
											<th style="width: 10%;" nzColumnKey="" [nzSortFn]="true">Mã điều vận</th>
											<th nzColumnKey="" [nzSortFn]="true">Khách hàng</th>
											<th nzColumnKey="" [nzSortFn]="true" style="width: 13%;">Tuyến đường</th>
											<th nzColumnKey="" [nzSortFn]="true" style="width: 10%;">Phương tiện</th>
											<th nzColumnKey="" style="width: 18%;">Lái xe</th>
											<th nzColumnKey="" style="width: 15%;">Vận chuyển</th>
											<th class="whitespace-nowrap" style="width: 8%;">Thao tác</th>
										</tr>
									</thead>
									<tbody>
										<tr *ngFor="let item of basicTable.data">
											<td class="text-bold">{{ item.transactionNo }}</td>
											<td class="text-bold">{{ item.customerName }} </td>
											<td>{{ item.origin }} - {{ item.destination }}</td>
											<td>{{ item.vehicle?.vehicleNumber }}</td>
											<td>
												<span class="text-bold">{{item.driver?.fullName}}</span> <br />
												<span style="font-size: 0.777rem;">{{item.driver?.phoneNo}}</span> <br />
												<span style="font-size: 0.777rem;">{{item.driver?.homeTown}}</span>
											</td>
											<td>{{item.vendorName}}</td>
											<td class="whitespace-nowrap">
												<wk-button icon="eye" [iconSize]="13" [className]="'btn-default mr-2'"
												(click)="previewTransaction(item)"></wk-button>
												<wk-button icon="export" [iconSize]="13" [className]="'btn-success mr-2'"
												(click)="exportTransaction(item)"></wk-button>
												<wk-button icon="pencil" [iconSize]="13" [className]="'btn-primary mr-2'"
													[routerLink]="['/logistic/transaction/edit/' + item.id]"></wk-button>
												<wk-button icon="remove" [iconSize]="13" [className]="'btn-danger'"
													(click)="confirmDelete(item)"></wk-button>
											</td>
										</tr>
									</tbody>
								</nz-table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>
	</div>
</tui-scrollbar>