

<table class="table table_price table-bordered">
	<thead>
		<tr>
			<th class="whitespace-nowrap" colspan="2">Thông tin vận chuyển</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td width="30%"><b>Tuyến đường </b></td>
			<td>
				<div class="d-flex w-full" style="flex-wrap: wrap;">
					<nz-select nzShowSearch nzAllowClear class="flex-1 h-8 mr-1" [(ngModel)]="model" [compareWith]="compareFn" (ngModelChange)="onShippingRouteChange()"
					#control="ngModel" [required]="true" [class.is-invalid]='control.errors && control.touched'	
					[nzCustomTemplate]="selectedTemplate">
						<nz-option *ngFor="let route of shippingRouteService.list" [nzValue]="route" [nzLabel]="route.routeCode">
						</nz-option>
					</nz-select>
					<wk-button [className]="'btn btn-primary flex-1'" icon="plus" [iconSize]="18"
						(click)="openEditModal()"></wk-button>
					<ng-template #selectedTemplate let-selected>
						{{ selected.nzLabel }}
					</ng-template>
					<div class="invalid-feedback" style="flex-basis: 100%" *ngIf='control.errors?.required'>
						Vui lòng chọn Tuyến đường</div>
				</div>
			</td>
		</tr>
		<tr>
			<td width="30%"><b>Điểm nhận hàng </b></td>
			<td>
				<input type="text" class="form-input" value="{{ model?.origin.locationName }}" disabled>
			</td>
		</tr>
		<tr>
			<td width="30%"><b>Điểm giao hàng</b></td>
			<td>
				<input type="text" class="form-input" value="{{ model?.destination.locationName }}" disabled>
			</td>
		</tr>
	
	</tbody>
</table>