<nz-table #table [classList]="'border-spacing-y-[10px]'">
    <thead>
        <tr role="row">
            <th class="whitespace-nowrap">Loại cont</th>
            <th class="whitespace-nowrap">Số cont</th>
            <th class="whitespace-nowrap">Số kiện</th>
            <th class="whitespace-nowrap">ĐVT Kiện</th>
            <th class="whitespace-nowrap">Số lượng</th>
            <th class="whitespace-nowrap">ĐVT</th>
            <th class="whitespace-nowrap">Mô tả hàng hóa</th>
            <th class="whitespace-nowrap">Nơi giao</th>
            <th class="whitespace-nowrap">Thời gian giao</th>
            <th class="whitespace-nowrap"><button type="button" class="btn btn-success">Thêm mới</button></th>
        </tr>
    </thead>
    <tbody>

    </tbody>
</nz-table>