app-login {
	display: flex;
	flex-grow: 1;
	flex-direction: column;
	min-height: 0;
}

.page-wrap {
	// background-image: url("../../assets/images/background.png");
	// background-position: center top !important;
	// background-repeat: no-repeat !important;
	// background-color: #1173b5 !important;
	// background-size: auto !important;
	background-color: #145432;
	background-image: linear-gradient(to bottom right, #427a3b, #145432);
	height: 100%;
}

.navbar-empty {
	justify-content: center;
	height: 40px;
	background: #fff;
	border-bottom: 1px solid #f0f0f0;
}

.container {
	max-width: 1080px;
}

.navless-container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.login-box {
	background-color: #fff;
}

.login-box,
.login-page .omniauth-container {
	box-shadow: 0 0 0 1px #dbdbdb;
	border-radius: 3px;
	padding: 16px;
}

.login-box .login-body {
	font-size: 13px;
}

label.label-bold {
	font-weight: 600;
}

.form-input:not(textarea) {
	height: 46px;
	font-size: 1rem;
}

label {
	font-weight: 600;
}

input[type="radio"],
input[type="checkbox"] {
	box-sizing: border-box;
	padding: 0;
	margin-right: 0.25rem;
}

input[type="checkbox"]:hover {
	box-shadow: 0 0 2px 2px rgb(188 217 246 / 40%), 0 0 0 1px rgb(188 217 246 / 40%);
}

.submit-container {
	margin-top: 16px;
}

input[type="submit"] {
	margin-bottom: 0;
	display: block;
	width: 100%;
	height: 46px;
	font-size: 16px;
	font-weight: 600;
	text-transform: uppercase;
}

.navbar {
	padding: 0.25rem 0.5rem;
}

.brand-holder {
	text-align: center;
	font-weight: bold;

	p {
		font-size: 1.7em;
		line-height: 1.2em;
		text-shadow: 3px 4px 7px rgba(81, 67, 21, 0.8);
		color: #ffba00;
	}
}

.ng-invalid {
	&.ng-dirty,
	&.ng-dirty:focus,
	&.ng-touched,
	&.ng-touched:focus {
		~ .invalid-feedback-wrap .invalid-feedback {
			display: block;
		}
	}
}
