<div class="modal-header">
	<h4 class="modal-title pull-left">{{ title }}</h4>
	<wk-button icon="times" [iconSize]="24" (click)="closeModal()" [className]="'btn-empty'">
	</wk-button>
</div>
<div class="modal-body">
	<form id="edit_form" [formGroup]="editForm" (ngSubmit)="editForm.valid && save()" autocomplete="off">
		<div class="form-group mb-3">
			<label for="code_value" class="label-bold">Giá trị</label>
			<input type="text" id="code_value" class="form-input" [formControl]='editForm.controls["value"]'
				[class.is-invalid]='editForm.get("value").errors && editForm.get("value").touched'>
			<div class="invalid-feedback" *ngIf='editForm.controls["value"].errors?.required'>Vui lòng
				nhập Giá trị</div>
		</div>
		<div class="form-group mb-3">
			<label for="description" class="label-bold">Mô tả</label>
			<input type="text" class="form-input" id="description" [formControl]='editForm.controls["description"]'
				[class.is-invalid]='editForm.get("description").errors && editForm.get("description").touched'>
			<div class="invalid-feedback" *ngIf='editForm.controls["description"].errors?.required'>Vui lòng
				nhập Mô tả</div>
		</div>
	</form>
</div>
<div class="modal-footer">
	<wk-button [className]="'btn btn-default mr-2'" (click)="cancel()">Đóng</wk-button>
	<button type="submit" class="btn btn-success" form="edit_form" [disabled]='!editForm.valid'>Lưu</button>
</div>