<table class="table table_price table-bordered">
	<thead>
		<tr>
			<th class="whitespace-nowrap" colspan="2">Thông tin lái xe</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td width="30%"><b>Họ và tên </b></td>
			<td>
				<div class="w-full d-flex">
					<nz-select nzShowSearch nzAllowClear class="flex-1 h-8 mr-1" [(ngModel)]="model" [compareWith]="compareFn"
						[nzOptionHeightPx]="54" (ngModelChange)="onDriverChange()" [nzCustomTemplate]="selectedTemplate">
						<nz-option nzCustomContent *ngFor="let driver of driverService.list" [nzValue]="driver"
							[nzLabel]="driver.fullName">
							<span class="font-semibold text-textMedium text-13">{{ driver.fullName }}</span><br />
							<span class="text-textMedium text-13">{{ driver.dateOfBirth | date:'dd/MM/yyyy' + ' | ' +
								driver.phoneNo}}</span>
						</nz-option>
					</nz-select>
					<wk-button [className]="'btn btn-primary flex-1'" icon="plus" [iconSize]="18"
						(click)="openEditModal()"></wk-button>
					<ng-template #selectedTemplate let-selected>
						{{ selected.nzLabel }}
					</ng-template>
				</div>
			</td>
		</tr>
		<tr>
			<td width="30%"><b>Ngày Sinh </b></td>
			<td>
				<input type="text" class="form-input" value="{{ model? formatHumanDate(model.dateOfBirth) : '' }}" disabled>
			</td>
		</tr>
		<tr>
			<td width="30%"><b>Số CCCD</b></td>
			<td>
				<input type="text" class="form-input" value="{{ model?.phoneNo }}" disabled>
			</td>
		</tr>
		<tr>
			<td width="30%"><b>Số điện thoại </b></td>
			<td>
				<input type="text" class="form-input" value="{{ model?.identityCardNo }}" disabled>
			</td>
		</tr>
		<tr>
			<td width="30%"><b>Địa chỉ </b></td>
			<td>
				<input type="text" class="form-input" value="{{ model?.homeTown }}" disabled>
			</td>
		</tr>

	</tbody>
</table>