<div class="information_panel">
    <h4>Thông tin lái xe</h4>
    <app-transaction-driver-select></app-transaction-driver-select>
    <p><b>Họ và tên </b> : <span class="information_driver_name">Phùng Văn Huân</span></p>
    <p><b>Ngày Sinh </b> : <span class="information_driver_birthday">01.12.1997</span></p>
    <p><b>Số CCCD </b> : <span class="information_driver_identity">004097005598</span></p>
    <p><b>Số điện thoại </b> : <span class="information_driver_phone">0326 136 244</span></p>
    <p><b>Quê Quán </b> : <span class="information_driver_home">Mỹ Hưng, Quảng Hòa, Cao Bằng</span></p>
</div>