<div class="information_panel">
	<h4 class="mb-3">Thông tin lái xe</h4>
	<div class="row">
		<div class="col-lg-4">
			<b>Họ và tên </b> :
		</div>
		<div class="col-lg-8">
			<div class="w-full d-flex">
				<nz-select nzShowSearch nzAllowClear class="flex-1 h-8 mr-1" [(ngModel)]="model" [compareWith]="compareFn"
					[nzCustomTemplate]="selectedTemplate">
					<nz-option *ngFor="let driver of driverService.list" [nzValue]="driver" [nzLabel]="driver.fullName">
					</nz-option>
				</nz-select>
				<wk-button [className]="'btn btn-primary flex-1'" icon="plus" [iconSize]="18"
					(click)="openEditModal()"></wk-button>
				<ng-template #selectedTemplate let-selected>
					{{ selected.nzLabel }}
				</ng-template>
			</div>
		</div>
		<div class="col-lg-4">
			<b>Ngày Sinh </b> :
		</div>
		<div class="col-lg-8">
			<input type="text" class="form-input" value="{{ model? formatHumanDate(model.dateOfBirth) : '' }}" disabled>
		</div>
		<div class="col-lg-4">
			<b>Số CCCD </b> :
		</div>
		<div class="col-lg-8">
			<input type="text" class="form-input" value="{{ model?.phoneNo }}" disabled>
		</div>
		<div class="col-lg-4">
			<b>Số điện thoại </b> :
		</div>
		<div class="col-lg-8">
			<input type="text" class="form-input" value="{{ model?.identityCardNo }}" disabled>
		</div>
		<div class="col-lg-4">
			<b>Quê Quán </b> :
		</div>
		<div class="col-lg-8">
			<input type="text" class="form-input" value="{{ model?.homeTown }}" disabled>
		</div>
	</div>
</div>