<wk-button *ngIf="!printing" icon="print" [iconSize]="13" [className]="'btn-success mb-3'"
(click)="print()">In vận đơn</wk-button>
<div class="row mb-3">
    <div class="col-lg-4">
        <div class="row">
            <div class="col-4">
                <img [src]="transaction.customer ? 'data:image/png;base64,' + transaction.customer.photo : './../assets/images/no_image.png'"
							class="customer_logo">
            </div>
            <div class="col-8">
                {{ transaction.customer.customerName }} <br/>
                {{ transaction.transactionNo }} <br/>
                
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        
    </div>
    <div class="col-lg-4">
        <div class="row">
            <div class="col-4">
                <img [src]="transaction.vendor ? 'data:image/png;base64,' + transaction.vendor.photo : './../assets/images/no_image.png'"
							class="customer_logo">
            </div>
            <div class="col-8">
                {{ transaction.vendor.vendorName }} <br/>
                {{ transaction.transactionDate }} <br/>
                
            </div>
        </div>
    </div>

</div>


<div class="row">
    <div class="col-lg-12">
        <nz-table #table [classList]="'border-spacing-y-[10px]'" nzSize="small" 
            [nzData]="transaction.transactionDetails" nzTableResponsive>
            <thead>
                <tr role="row">
                    <th class="whitespace-nowrap" nzColumnKey="contType" [nzSortFn]="true" style="width: 3%;">Loại cont</th>
                    <th class="whitespace-nowrap" nzColumnKey="contCount" [nzSortFn]="true" style="width: 1%;">Số cont</th>
                    <th class="whitespace-nowrap" nzColumnKey="packageCount" [nzSortFn]="true" style="width: 1%;">Số kiện
                    </th>
                    <th class="whitespace-nowrap" nzColumnKey="packageUnit" [nzSortFn]="true" style="width: 5%;">ĐVT Kiện
                    </th>
                    <th class="whitespace-nowrap" nzColumnKey="quantity" [nzSortFn]="true" style="width: 1%;">Số lượng</th>
                    <th class="whitespace-nowrap" nzColumnKey="unit" [nzSortFn]="true" style="width: 5%;">ĐVT</th>
                    <th class="whitespace-nowrap" nzColumnKey="goodsDescription" [nzSortFn]="true" style="width: 20%;">Mô tả
                        hàng hóa</th>
                    <th class="whitespace-nowrap" nzColumnKey="deliveredPlace" [nzSortFn]="true" style="width: 8%;">Nơi giao
                    </th>
                    <th class="whitespace-nowrap" nzColumnKey="deliveredTime" [nzSortFn]="true" style="width: 8%;">Thời gian
                        giao</th>
                
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let row of transaction.transactionDetails">
                    <td>{{ row.contType }} </td>
                    <td>{{ row.contCount }} </td>
                    <td>{{ row.packageCount }} </td>
                    <td>{{ row.packageUnit }} </td>
                    <td>{{ row.quantity }} </td>
                    <td>{{ row.unit }} </td>
                    <td>{{ row.goodsDescription }} </td>
                    <td>{{ row.deliveredPlace }} </td>
                    <td>{{ parseHumanDate(row.deliveredTime) }} </td>
                </tr>
            </tbody>
        </nz-table>
    </div>

</div>