<div class="modal-header">
	<h4 class="modal-title pull-left">{{ title }}</h4>
	<wk-button icon="times" [iconSize]="24" (click)="closeModal()" [className]="'btn-empty'">
	</wk-button>
</div>
<div class="modal-body">
	<form id="edit_form" [formGroup]="editForm" (ngSubmit)="editForm.valid && onSubmit()" autocomplete="off">
		<div class="mb-4 mt-2">
			<div class="avatar-image">
				<img class="cust-logo" [src]="photo ? photo : '../../../../assets/images/user.png'">
			</div>
			<h5 class="mt-0">Tải lên logo</h5>
			<div class="my-2">
				<wk-button [className]="'btn btn-default js-choose-user-avatar-button'" (click)="openFileInput()">Chọn
					ảnh...</wk-button>
				<span class="avatar-file-name ms-2 js-avatar-filename">No file chosen.</span>
				<input #fileInput class="js-user-avatar-input hidden" accept="image/*" type="file"
					(change)="fileChangeEvent($event)" name="user[avatar]-trigger" id="user_avatar-trigger">
			</div>
			<div style="color: #666;">Dung lượng ảnh tối đa tải lên là 200KB.</div>
		</div>
		<div class="form-group mb-3">
			<label for="customer_code" class="label-bold">Mã khách hàng</label>
			<input type="text" id="customer_code" class="form-input" [formControl]='editForm.controls["customerCode"]'
				[class.is-invalid]='editForm.get("customerCode").errors && editForm.get("customerCode").touched'>
			<div class="invalid-feedback" *ngIf='editForm.controls["customerCode"].errors?.required'>Vui lòng
				nhập Mã khách hàng</div>
		</div>
		<div class="form-group mb-3">
			<label for="customer_name" class="label-bold">Tên khách hàng</label>
			<input type="text" class="form-input" id="customer_name" [formControl]='editForm.controls["customerName"]'
				[class.is-invalid]='editForm.get("customerName").errors && editForm.get("customerName").touched'>
			<div class="invalid-feedback" *ngIf='editForm.controls["customerName"].errors?.required'>Vui lòng
				nhập Tên khách hàng</div>
		</div>
	</form>
</div>
<div class="modal-footer">
	<wk-button [className]="'btn btn-danger mr-2'" (click)="cancel()">Đóng</wk-button>
	<button type="submit" class="btn btn-success" form="edit_form" [disabled]='!editForm.valid'>Lưu</button>
</div>