<div class="modal-header">
	<h4 class="modal-title pull-left">{{ title }}</h4>
	<wk-button icon="times" [iconSize]="24" (click)="closeModal()" [className]="'btn-empty'">
	</wk-button>
</div>
<div class="modal-body">
	<form id="edit_form" [formGroup]="editForm" (ngSubmit)="editForm.valid && save()" autocomplete="off">
		<input type="hidden" [formControl]='editForm.controls["id"]'>
		<div class="form-group mb-3">
			<label for="customer_code" class="label-bold">Mã khách hàng</label>
			<input type="text" id="customer_code" class="form-input" [formControl]='editForm.controls["customerCode"]'
				[class.is-invalid]='editForm.get("customerCode").errors && editForm.get("customerCode").touched'>
			<div class="invalid-feedback" *ngIf='editForm.controls["customerCode"].errors?.required'>Vui lòng
				nhập Mã khách hàng</div>
		</div>
		<div class="form-group mb-3">
			<label for="customer_name" class="label-bold">Tên khách hàng</label>
			<input type="text" class="form-input" id="customer_name" [formControl]='editForm.controls["customerName"]'
				[class.is-invalid]='editForm.get("customerName").errors && editForm.get("customerName").touched'>
			<div class="invalid-feedback" *ngIf='editForm.controls["customerName"].errors?.required'>Vui lòng
				nhập Tên khách hàng</div>
		</div>
	</form>
</div>
<div class="modal-footer">
	<wk-button [className]="'btn btn-danger mr-2'" (click)="cancel()">Đóng</wk-button>
	<button type="submit" class="btn btn-success" form="edit_form" [disabled]='!editForm.valid'>Lưu</button>
</div>

<!--
<form [formGroup]="editForm" (ngSubmit)="editForm.valid && save()">
	<div class="row">
		<div class="col-lg-12 mt-3">
			<h4 class="mt-0"> Thông tin khách hàng </h4>
			<p> </p>
		</div>
		<div class="col-lg-12">
			<div class="row">
				<div class="col-lg-9">
					<div class="form-group">
						<label for="CustomerCode">Mã khách hàng</label>
						<div class="text-danger"
							*ngIf="editForm.get('CustomerCode').hasError('required') && editForm.get('CustomerCode').touched">
							Mã khách hàng không được để trống.
						</div>
						<input id="CustomerCode" formControlName="CustomerCode" type="text" class="form-input" required>

					</div>
				</div>
				<div class="col-lg-9">
					<div class="form-group">
						<label for="CustomerName">Tên khách hàng</label>
						<div class="text-danger"
							*ngIf="editForm.get('CustomerName').hasError('required') && editForm.get('CustomerName').touched">
							Tên khách hàng không được để trống.
						</div>
						<input id="CustomerName" formControlName="CustomerName" type="text" class="form-input" required>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-12">
			<button class="btn btn-primary px-5" type="submit">Lưu </button>
		</div>
	</div>
</form> -->