<table class="table table_price table-bordered">
	<thead>
		<tr>
			<th class="whitespace-nowrap" colspan="2">Thông tin phương tiện</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td width="30%"><b>Chọn biển số </b></td>
			<td>
				<div class="d-flex w-full" style="flex-wrap: wrap;">
					<nz-select nzShowSearch nzAllowClear class="flex-1 h-8 mr-1" [(ngModel)]="model" [compareWith]="compareFn"
						#control="ngModel" [required]="true" [class.is-invalid]='control.errors && control.touched'
						[nzOptionHeightPx]="54" (ngModelChange)="onVehicleChange()" [nzCustomTemplate]="selectedTemplate">
						<nz-option nzCustomContent *ngFor="let vehicle of vehicleService.list" [nzValue]="vehicle"
							[nzLabel]="vehicle.vehicleNumber">
							<span class="font-semibold text-textMedium text-13">{{ vehicle.vehicleNumber }}</span><br />
							<span class="text-textMedium text-13">{{ vehicle.typeOfVehicle + ' | ' + vehicle.payloadCapacity + ' ' +
								vehicle.payloadCapacityUnit }}</span>
						</nz-option>
					</nz-select>
					<wk-button [className]="'btn btn-primary flex-1'" icon="plus" [iconSize]="18"
						(click)="openEditModal()"></wk-button>
					<ng-template #selectedTemplate let-selected>
						{{ selected.nzLabel }}
					</ng-template>
					<div class="invalid-feedback" style="flex-basis: 100%" *ngIf='control.errors?.required'>
						Vui lòng chọn Phương tiện</div>
				</div>
			</td>
		</tr>
		<tr>
			<td width="30%"><b>Loại xe </b></td>
			<td>
				<input type="text" class="form-input" value="{{ model?.typeOfVehicle }}" disabled>
			</td>
		</tr>
		<tr>
			<td width="30%"><b>Tải trọng</b></td>
			<td>
				<input type="text" class="form-input"
					value="{{ model ? (model.payloadCapacity +' '+ model?.payloadCapacityUnit) : ''}}" disabled>
			</td>
		</tr>

	</tbody>
</table>