image-cropper {
	max-height: 33vh;
}

.cropper-wrapper {
	min-height: 300px;
	position: relative;
}

::ng-deep .cropper-wrapper img {
	display: inline;
}

// .cropper-container {
// 	font-size: 0;
// 	line-height: 0;
// 	position: relative;
// 	-webkit-user-select: none;
// 	user-select: none;
// 	direction: ltr !important;
// 	touch-action: none;
// 	-webkit-tap-highlight-color: transparent;
// 	-webkit-touch-callout: none;
// }

.cropper-bg {
	background-image: url("../../../../assets/images/cropper-bg.png");
}
