<table class="table table_price table-bordered">
    <thead>
        <tr>
            <th class="whitespace-nowrap">Biên bản giao hàng</th>
            <th class="whitespace-nowrap">Giá</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Lái xe nộp đủ về VP</td>
            <td><input type="number" class="form-input" name="price_phi_luu_ca"></td>
        </tr>
        <tr>
            <td>Trả người quản lý giấy tờ</td>
            <td><input type="number" class="form-input" name="price_phi_ghep_diem"></td>
        </tr>
        <tr>
            <td>Trả khách hàng</td>
            <td><input type="number" class="form-input" name="price_phi_hang_ve"></td>
        </tr>
        <tr>
            <td>Ghi chú khác</td>
            <td><input type="number" class="form-input" name="price_phi_hai_quan"></td>
        </tr>
    </tbody>
    <tfoot>
        <tr role="row">
            <th class="whitespace-nowrap">Tổng</th>
            <th class="whitespace-nowrap">0</th>
        </tr>
    </tfoot>
</table>