<table class="table table_price table-bordered">
    <thead>
        <tr>
            <th class="whitespace-nowrap">Chi phí phát sinh</th>
            <th class="whitespace-nowrap">Giá</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Phí lưu ca</td>
            <td><input type="number" class="form-input" name="price_phi_luu_ca"></td>
        </tr>
        <tr>
            <td>Phí ghép điểm</td>
            <td><input type="number" class="form-input" name="price_phi_ghep_diem"></td>
        </tr>
        <tr>
            <td>Phí hàng về</td>
            <td><input type="number" class="form-input" name="price_phi_hang_ve"></td>
        </tr>
        <tr>
            <td>Phí hải quan</td>
            <td><input type="number" class="form-input" name="price_phi_hai_quan"></td>
        </tr>
        <tr>
            <td>Phí bốc xếp</td>
            <td><input type="number" class="form-input" name="price_phi_boc_xep"></td>
        </tr>
        <tr>
            <td>Vé</td>
            <td><input type="number" class="form-input" name="price_ve"></td>
        </tr>
        <tr>
            <td>Phát sinh khác</td>
            <td><input type="number" class="form-input" name="price_phat_sinh_khac"></td>
        </tr>
    </tbody>
    <tfoot>
        <tr role="row">
            <th class="whitespace-nowrap">Tổng</th>
            <th class="whitespace-nowrap">0</th>
        </tr>
    </tfoot>
</table>