<div class="w-full">
	<div class="customer-logo mr-1" style="width: 130px;">
		<img [src]="'data:image/png;base64,' + customer?.photo" style="width: 128px;" class="customer_logo">
	</div>
	<div class="flex-1">
		<div class="d-flex">
			<nz-select nzShowSearch nzAllowClear class="flex-1 h-8 mr-1" [(ngModel)]="customer" [compareWith]="compareFn"
				[nzCustomTemplate]="selectedTemplate">
				<nz-option nzCustomContent *ngFor="let customer of customerService.list" [nzValue]="customer"
					[nzLabel]="customer.customerName" [nzLabel]="customer.customerName">
					{{ customer.customerName }}
				</nz-option>
			</nz-select>
			<wk-button [className]="'btn btn-primary flex-1'" icon="plus" [iconSize]="18"
				(click)="openEditModal()"></wk-button>
			<ng-template #selectedTemplate let-selected>
				<span class="font-semibold uppercase text-textMedium text-13">{{ selected.nzLabel }}</span>
			</ng-template>
		</div>
		<div class="">
			<div class="customer_code_generate">abc</div>
		</div>
	</div>
</div>