<div>
	<nav aria-label="Breadcrumbs" class="breadcrumbs container-fluid container-limited limit-container-width">
		<div class="breadcrumbs-container">
			<div class="breadcrumbs-links" data-qa-selector="breadcrumb_links_content" data-testid="breadcrumb-links">
				<ul class="list-unstyled breadcrumbs-list js-breadcrumbs-list">
					<li>
						<a [routerLink]="'/-/profile/account'">Thiết lập</a>
						<svg-icon [name]="'angle-right'" [size]="8" class="breadcrumbs-list-angle"></svg-icon>
					</li>
					<li>
						<h2 class="breadcrumbs-sub-title">
							<a [routerLink]="'/-/profile/password'">Mật khẩu</a>
						</h2>
					</li>
				</ul>
			</div>
		</div>
	</nav>
</div>

<div class="container-fluid container-limited limit-container-width">
	<main class="content" id="content-body">
		<div class="flash-container flash-container-page" *ngIf="this.globalError">
			<div class="flash-alert mb-2">
				<svg-icon [name]="'error'" [size]="16" [className]="'mr-1 align-middle d-inline'"></svg-icon>
				<span class="align-text-top">{{ this.globalError }}</span>
				<div class="close-icon-wrapper js-close-icon">
					<svg-icon [name]="'close'" [size]="16" class="align-baseline"></svg-icon>
				</div>
			</div>
		</div>
		<div class="my-3">
			<div class="gl-search-box-by-type">
				<svg-icon [name]="'search_'" [size]="16" class="gl-search-box-by-type-search-icon"></svg-icon>
				<input type="text" placeholder="Tìm kiếm" class="gl-search-box-by-type-input form-control">
				<div class="gl-search-box-by-type-right-icons">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4">
				<h4 class="mt-0">
					Đổi mật khẩu
				</h4>
				<p>
					Sau khi cập nhật mật khẩu thành công, bạn sẽ được chuyển đến trang đăng nhập, nơi bạn có thể đăng
					nhập bằng mật khẩu mới của mình.
				</p>
			</div>
			<div class="col-lg-8">
				<h5 class="mt-0">
					Thay đổi mật khẩu của bạn hoặc khôi phục mật khẩu hiện tại của bạn
				</h5>
				<form class="update-password" [formGroup]="passwordForm"
					(ngSubmit)="passwordForm.valid && changePassword()" accept-charset="UTF-8">
					<div class="form-group">
						<label for="user_current_password">Mật khẩu hiện tại</label>
						<input class="form-input" type="password" id="user_current_password"
							[formControl]='passwordForm.controls["currentPassword"]'
							[class.is-invalid]='passwordForm.get("currentPassword").errors && passwordForm.get("currentPassword").touched'>
						<div class="invalid-feedback" *ngIf='passwordForm.controls["currentPassword"].errors?.required'>
							Vui lòng nhập Mật khẩu hiện tại
						</div>
						<p class="form-text text-muted">Bạn phải cung cấp mật khẩu hiện tại của mình để thay đổi nó.
						</p>
					</div>
					<div class="form-group mt-2">
						<label for="user_password">Mật khẩu mới</label>
						<input class="form-input" type="password" id="user_password"
							[formControl]='passwordForm.controls["password"]'
							[class.is-invalid]='passwordForm.get("password").errors && passwordForm.get("password").touched'>
						<div class="invalid-feedback" *ngIf='passwordForm.controls["password"].errors?.required'>Vui
							lòng
							nhập Mật khẩu mới</div>
						<div class="invalid-feedback" *ngIf='passwordForm.controls["password"].errors?.minlength'>Mật
							khẩu mới phải
							ít nhất {{passwordForm.controls["password"].errors.minlength['requiredLength']}} ký tự</div>
					</div>
					<div class="form-group mt-2">
						<label for="user_password_confirmation">Xác nhận mật khẩu</label>
						<input class="form-input" type="password" id="user_password_confirmation"
							[formControl]='passwordForm.controls["confirmPassword"]'
							[class.is-invalid]='passwordForm.get("confirmPassword").errors && passwordForm.get("confirmPassword").touched'>
						<div class="invalid-feedback" *ngIf='passwordForm.controls["confirmPassword"].errors?.required'>
							Vui lòng
							nhập Xác nhận mật khẩu</div>
						<div class="invalid-feedback"
							*ngIf='passwordForm.controls["confirmPassword"].errors?.isMatching'>Xác nhận
							mật khẩu không trùng khớp</div>
					</div>
					<div class="my-3">
						<!-- <input type="submit" value="Lưu mật khẩu" class="btn btn-primary me-2"
							[disabled]='!passwordForm.valid'> -->
						<wk-button [type]="'submit'" [className]="'btn btn-primary mr-2'"
							[disabled]='!passwordForm.valid'>Lưu mật khẩu</wk-button>
						<!-- <a rel="nofollow" data-method="put" href="/-/profile/password/reset">Quên mật khẩu</a> -->
					</div>
				</form>
			</div>
		</div>
	</main>
</div>