<div class="modal-header">
	<h4 class="modal-title pull-left">Thay đổi ảnh đại diện</h4>
	<button type="button" class="btn-close close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
		<span aria-hidden="true" class="visually-hidden">&times;</span>
	</button>
</div>
<div class="modal-body">
	<div class="profile-crop-image-container">
		<image-cropper [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true" [cropperMinWidth]="96"
			[onlyScaleDown]="true" [roundCropper]="false" [transform]="transform" (imageCropped)="imageCropped($event)"
			[alignImage]="'center'" [classList]="'cropper-container cropper-bg'" format="png">
		</image-cropper>
	</div>
	<div class="crop-controls text-center">
		<div class="btn-group">
			<button class="btn btn-default" (click)="zoomOut()">
				<svg-icon [name]="'search-minus'" [size]="16"></svg-icon>
			</button>
			<button class="btn btn-default" (click)="zoomIn()">
				<svg-icon [name]="'search-plus'" [size]="16"></svg-icon>
			</button>
		</div>
	</div>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-default" (click)="bsModalRef.hide()">
		Hủy
	</button>
	<button type="button" class="btn btn-success" (click)="save()">
		Cập nhật
	</button>
</div>
